.home
    @extend %page

    overflow: hidden
    text-align: center

    &--active
        @extend %page--active

    &__wrapper

    &__mainWrapper
        align-items: center
        display: flex
        min-height: 100vh
        justify-content: center
        position: relative

    &__secondaryWrapper
        padding: 23.6rem 30.9rem

        @include media("<tablet")
            padding: 16rem 7.9rem

        @include media("<phone")
            padding: 11rem 2.9rem

    &__title
        @extend %title-120

        letter-spacing: 0.7rem
        pointer-events: none
        z-index: z("content")

        @include media("<tablet")
            font-size: 8.5rem
            letter-spacing: 0
            line-height: 1.22

        @include media("<phone")
            font-size: 4rem

        &__line
            display: block
            pointer-events: all

            &--1
                margin-left: -10rem

                @include media("<phone")
                    margin-left: -5.9rem
            &--2
                margin-left: 21rem

                @include media("<tablet")
                    margin-left: 12rem

                @include media("<phone")
                    margin-left: 2.6rem
            &--3
                margin-left: -38rem

                @include media("<tablet")
                    margin-left: -27rem

                @include media("<phone")
                    margin-left: -13.8rem
            &--4
                margin-left: 25rem

                @include media("<tablet")
                    margin-left: 10rem

                @include media("<phone")
                    margin-left: 3.8rem
            &--5
                margin-left: 14rem
                text-align: left

                @include media("<tablet")
                    margin-left: 4rem

                @include media("<phone")
                    margin-left: 0.9rem

    &__card
        height: 71.3rem
        opacity: 0
        position: absolute
        width: 54.5rem

        @include media("<tablet")
            height: 48.3rem
            width: 37.5rem

        @include media("<phone")
            height: 28.3rem
            width: 24.5rem

        &__caption
            @extend %name-144

            color: $component-color
            font-size: 0
            position: absolute

            @include media("<phone")
                display: none

        &__image
            height: 100%
            width: 100%

        &--mica
            left: 16rem
            top: 19rem

            @include media("<tablet")
                left: -4rem
                top: 28rem

            @include media("<phone")
                left: -7.1rem
                top: 11.5rem

            figcaption
                bottom: 3.3rem
                left: 0

                @include media("<tablet")
                    bottom: -4rem
                    right: 6rem

                svg
                    height: 11.3rem
                    width: 23.7rem

        &--agus
            bottom: 0
            right: 0

            @include media("<tablet")
                bottom: 12rem

            @include media("<phone")
                bottom: -4.2rem
                right: -2.6rem

            figcaption
                left: 2rem
                bottom: 14rem

                @include media("<tablet")
                    top: 2rem
                    left: 12rem

                svg
                    height: 14.1rem
                    width: 21.2rem

    &__subtitle
        @extend %title-120

        text-align: left

        &__line
            display: block

            &--1
                letter-spacing: 1rem

                @include media("<tablet")
                    letter-spacing: 0.9rem

                @include media("<phone")
                    letter-spacing: 0.4rem

            &--2
                letter-spacing: 1.3rem
                line-height: 1.05
                margin-left: 7.5rem

                @include media("<tablet")
                    letter-spacing: 1.1rem
                    line-height: 0.95
                    margin-left: 7.1rem

                @include media("<phone")
                    letter-spacing: .55rem
                    line-height: 1.44
                    margin-left: 3.2rem

    &__text
        @extend %text-24

        color: $text-color
        display: flex
        gap: 14.2rem
        margin-top: 8rem
        padding-left: 10rem
        text-align: left

        @include media("<tablet")
            gap: 9rem
            margin-top: 6.2rem
            padding-left: 0

        @include media("<phone")
            gap: 4.8rem
            flex-direction: column
            margin-top: 4rem

        &__column
            letter-spacing: 0.11rem
            line-height: 4.55rem
            width: 50rem

            @include media("<tablet")
                letter-spacing: 0.09rem

            @include media("<phone")
                line-height: 4.25rem
                width: 31rem

            strong
                font-weight: bold

            &--1

            &--2
