.home
    @extend %page

    overflow: hidden
    text-align: center

    @extend %page--active

    &--active
        @extend %page--active

    &__wrapper

    &__mainWrapper
        align-items: center
        display: flex
        min-height: 100vh
        justify-content: center
        position: relative

    &__secondaryWrapper
        padding: 23.6rem 30.9rem

        @include media("<tablet")
            padding: 16rem 7.9rem

    &__title
        @extend %title-120

        letter-spacing: 0.7rem
        pointer-events: none
        z-index: z("content")

        @include media("<tablet")
            font-size: 8.5rem
            letter-spacing: 0
            line-height: 1.22

        &__line
            display: block

            &--1
                margin-left: -10rem
            &--2
                margin-left: 21rem

                @include media("<tablet")
                    margin-left: 12rem
            &--3
                margin-left: -38rem

                @include media("<tablet")
                    margin-left: -27rem
            &--4
                margin-left: 25rem

                @include media("<tablet")
                    margin-left: 10rem
            &--5
                margin-left: -20rem

                @include media("<tablet")
                    margin-left: -17rem

    &__card
        height: 45.3rem
        opacity: 0
        position: absolute
        width: 37.5rem

        &__caption
            @extend %name-144

            color: $component-color
            letter-spacing: 0.4rem
            position: absolute

        &__image
            height: 100%
            width: 100%

        &--mica
            left: 16rem
            top: 19rem

            @include media("<tablet")
                left: -4rem
                top: 28rem

            figcaption
                bottom: 3.3rem
                right: 5.5rem

                @include media("<tablet")
                    bottom: -4rem
                    right: 6rem

        &--agus
            right: 0
            bottom: 0

            @include media("<tablet")
                bottom: 12rem

            figcaption
                top: 16rem
                left: -14rem

                @include media("<tablet")
                    top: 2rem
                    left: 12rem

    &__subtitle
        @extend %title-120

        text-align: left

        &__line
            display: block

            &--1
                letter-spacing: 1rem

                @include media("<tablet")
                    letter-spacing: 0.9rem

            &--2
                letter-spacing: 1.3rem
                line-height: 1.05
                margin-left: 7.5rem

                @include media("<tablet")
                    letter-spacing: 1.1rem
                    line-height: 0.95
                    margin-left: 7.1rem

    &__text
        @extend %text-24

        color: $text-color-2
        display: flex
        gap: 14.2rem
        margin-top: 8rem
        padding-left: 10rem
        text-align: left

        @include media("<tablet")
            gap: 9rem
            margin-top: 6.2rem
            padding-left: 0

        &__column
            width: 50rem
            letter-spacing: 0.11rem
            line-height: 4.55rem

            @include media("<tablet")
                letter-spacing: 0.09rem

            strong
                font-weight: bold

            &--1

            &--2
