.works
    @extend %page

    overflow: hidden
    text-align: center

    img
        opacity: 0
        visibility: hidden

    &--active
        @extend %page--active

    &__wrapper

    &__title
        @extend %title-120

        left: 50%
        letter-spacing: .7rem
        position: absolute
        top: 50%
        transform: translate(-50%, -50%)

        @include media("<phone")
            letter-spacing: 0.5rem

    &__cardsWrapper
        align-items: center
        display: grid
        grid-column-gap: 23rem
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: auto
        justify-items: center
        min-height: 100vh
        padding: 24rem
        position: absolute
        width: 100vw

        @include media("<tablet")
            grid-column-gap: 8rem
            padding: 23rem 6rem

        @include media("<phone")
            grid-column-gap: 3rem
            padding: 12rem 1rem

    &__card

        &__link
            display: inline-block
            height: 100%
            position: relative
            width: 100%

            &:hover > h2
                opacity: 1

        &__title
            @extend %foot-24

            font-size: 2.5rem
            left: 0
            line-height: 1.3
            opacity: 0
            position: absolute
            text-align: left
            text-transform: none
            top: calc(100% + 2.5rem)
            transition: opacity .5s
            user-select: none

            @include media("<tablet")
                font-size: 1.7rem
                opacity: 1
                top: calc(100% + 2rem)

            @include media("<phone")
                bottom: -2.5rem
                font-size: 1.2rem
                left: 0.5rem

        &__image
            width: 100%
            height: 100%

@media (pointer: coarse)
    .works__card__title
        opacity: 1
