.works
    @extend %page

    overflow: hidden
    text-align: center

    &--active
        @extend %page--active

    &__wrapper

    &__title
        @extend %title-120

        left: 73.2rem
        letter-spacing: .7rem
        position: absolute
        top: 40.5rem

        @include media("<tablet")
            left: 19.5rem
            top: 55.5rem

        @include media("<phone")
            left: 10.5rem
            letter-spacing: 0.5rem
            top: 31rem

    &__cardsWrapper
        align-items: center
        display: grid
        gap: 7rem
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: auto
        height: 100vh
        justify-items: center
        padding: 19rem
        position: absolute
        width: 100vw

        @include media("<tablet")
            gap: 2rem
            padding: 2rem

        @include media("<phone")
            gap: 1rem
            padding: 1rem

    &__card

        &--1
            grid-column: 1/2
            grid-row: 1/2
            height: 45rem
            width: 40rem

            @include media("<tablet")
                height: 37rem
                width: 35rem

            @include media("<phone")
                height: 22rem
                width: 15rem

        &__link
            display: inline-block
            width: 100%
            height: 100%

        &__title
            font-size: 0

        &__image
            width: 100%
            height: 100%
