extends ../base.pug 

block variables 
    - var template = "error"

block content
    .error
        section.error__wrapper
            p.error__number(data-animationfade="true")=error.data.error_code
            p.error__text(data-animationfade="true")=error.data.message[0][lang]