extends ../base.pug 

block variables 
    - var template = "error"

block content
    .error
        section.error__wrapper
            p.error__number(data-animation="fade")=error.data.error_code
            p.error__text(data-animation="fade")=error.data.message[0][lang]